.bg-container{
    background-image: url("https://imgs.search.brave.com/YaFnj7ZA0vbuvn5SAdtn60JC8f8l8T562OmeeYLVIKU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/ODU5NTgzMzcxMjEt/Njk0NGI3YTFlYTg3/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TVRsOGZH/TnNiMk5ySlRJd1lt/RmphMmR5YjNWdVpI/eGxibnd3Zkh3d2ZI/eDhNQT09");
    height:100vh;
    background-size: cover;
}
.head{
    text-align:left;
    padding: 24px;
    font-family:Roboto;
    font-size:30px;
    font-weight:bold;
}
.place-container{
    background-color:white;
    border-radius:9px;
    padding:10px;
    border-style:solid;
    border-color:orange;
    margin:15px;
}
.text{
    font-family:Roboto;
    color:rgb(229, 137, 152);
}
.para{
    font-family:Roboto;
    color:#6c6b70;
}
.image{
    height:100px;
    width:180px;
    margin:5px;
}